#root{
}
body{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-left: 25vw;
    transition: 0.5s;
}
.App.disableNavBar{
    margin-left: 0;
}


